.lava-anim {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

/*
 * event-stream article anim
 */

.news-tabs-container {
  /* background: green; */
  display: flex;
  justify-content: center;
}

.news-tab-wrapper {
  /* background: pink; */
  /* height: 120px; */
  width: 180px;
}

img.news-tab {
  animation: anim-drop-in 1s;
  animation-fill-mode: both;

  height: 560px;
  max-width: none;
  max-height: none;
}

.news-tab-wrapper:nth-child(1) > img.news-tab { animation-delay: .25s }
.news-tab-wrapper:nth-child(2) > img.news-tab { animation-delay: .5s }
.news-tab-wrapper:nth-child(3) > img.news-tab { animation-delay: .75s }
.news-tab-wrapper:nth-child(4) > img.news-tab { animation-delay: 1s }

@keyframes anim-drop-in {
  0% {
    transform: rotateX(16deg) rotateY(-28deg) translate3d(-230px, -100px, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateX(16deg) rotateY(-28deg) translate3d(-230px, 0, 0);
  }
}

/*
 * animated LavaMoat text
 */

.lavamoat-title-wrapper {
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

svg.lavamoat-title {
  font-weight: bold;
  max-width: 600px;
  height: auto;
}

/*
 * animated evil guy
 */

.evil-icon {
  position: absolute;
  transition: all 1.5s;
}

.slide-action-0 .evil-icon {
  opacity: 0;
  transform: rotateX(0deg) translate3d(818px, -160px, 0);
}

.slide-action-1 .evil-icon {
  opacity: 1;
  transform: rotateX(0deg) translate3d(818px, -160px, 0);
}

.slide-action-2 .evil-icon {
  opacity: 1;
  transform: rotateX(360deg) translate3d(455px, -160px, 0);
}

.slide-action-3 .evil-icon {
  opacity: 1;
  transform: rotateX(360deg) translate3d(54px, -160px, 0);
}
